---
import {getCollection} from 'astro:content';
import Page from "../layouts/Page.astro";
const posts = await getCollection('blog');
// console.log(posts);
const dogs = await getCollection('dogs');
---
<Page title="Test" prose>
    <h1>My posts</h1>
    <ul>
        {posts.map(post => (
                <li>
                    <a href={`/blog/${post.id}`}>{post.data.title}</a>
                    <span>{post.data.date}</span>
                </li>
        ))}

    </ul>

    <h1>My Dogs</h1>

    <ul>
        {dogs.map(dog => (
                <li>
                    <b>{dog.data.breed}</b>
                    / {dog.data.temperament.join(', ')}
                </li>
        ))}

    </ul>

</Page>
